{{ partial "head.html" . }}

<!-- Actual content -->
<section id="cards">
    {{ range $section, $pages := .Site.Sections }}
      <!-- Exclude root section -->
      {{ if $section }}
      {{ if not (index $.Site.Data.modules $section).hidden }}
        <div class="card {{ lower (title $section) }}">
          <div class="top"></div>
          <div class="logo"></div>
          <div class="content">
            <div class="title">
              <h2>{{ (index $.Site.Data.modules $section).title }}</h2>
            </div>
            <div class="tagline">
              <p>
                {{ (index $.Site.Data.modules $section).tagline }}
              </p>
            </div>
            <div class="buttons">
              <a href="{{ $section }}" class="btn">Infosidor</a>
              <a href="{{ $section }}/uppgifter" class="btn">Uppgifter</a>
            </div>
          </div>
        </div>
      {{ end }}
      {{ end }}
    {{ end }}
    <div class="clr"></div>
</section>

{{ partial "footer.html" .}}
