<!doctype html>
<html lang="se">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        {{if .IsHome}}
        <title> {{ .Site.Title }} | {{ .Site.Params.quote}} </title>
        {{ else }}
        <title> {{ .Title }} | {{ .Site.Title }} </title>
        {{ end }}
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Icons -->
        <!-- <link rel="apple-touch-icon" href="apple-touch-icon.png"> -->
        <link rel="shortcut icon" href="https://www.uu.se/digitalAssets/14/14093_1favicon.ico">
        <!-- Place favicon.ico in the root directory -->

        <link href="https://fonts.googleapis.com/css?family=Roboto:400,700,400italic,700italic,100,100italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/reset.css">
        <link rel="stylesheet" href="{{ .Site.BaseURL }}css/style.css">
    </head>
    <!-- Class of body will determine color-scheme and icon -->
    <!-- studentservice | linux | linux-plus | latex | matlab | excel | ssh | git -->
    <body id="top" {{if .Params.module}}class="{{.Params.module}}"{{end}}>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/?locale=en">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="notifications">
        </div>

        <div class="uu-logo">
          <a href="https://uu.se/" target="_blank"></a>
        </div>
        
        {{if .IsHome}}
        <div class="top-flag">
          <a href="{{ .Site.BaseURL }}om">
            <div class="top-container">
              <h1>{{ .Site.Title }}</h1>
              <h2>{{ .Site.Params.quote}}</h2>
            </div>
          </a>
        </div>
        {{end}}

        {{ if .IsHome }}
        <div id="frontmessage">
          <div class="center">
            <p><b>Introduktion till datorer</b> (också känt som dataproppen) är en del av
              ditt programs introduktionskurs. Till skillnad från matteproppen ger
              introduktion till datorer högskolepoäng. Momentet är indelat i olika
              moduler och för varje modul finns en uppgift som skall lämnas in. När
              du blivit godkänd på uppgifterna är du också klar med detta kursmoment.</p>

            <p>Vilka moduler som ingår för just ditt program framgår på någon av
              programsidorna för<br/>
              <a href="{{ .Site.BaseURL }}programsida/e-ei">E/EI</a>,
              <a href="{{ .Site.BaseURL }}programsida/es">ES</a>,
              <a href="{{ .Site.BaseURL }}programsida/f">F</a>,
              <a href="{{ .Site.BaseURL }}programsida/it-kanddv">IT/KandDv</a>,
              <a href="{{ .Site.BaseURL }}programsida/kandma">KandMa</a>,
              <a href="{{ .Site.BaseURL }}programsida/mi">MI</a>,
              <a href="{{ .Site.BaseURL }}programsida/q">Q</a>,
              <a href="{{ .Site.BaseURL }}programsida/sts">STS</a>, eller
              <a href="{{ .Site.BaseURL }}programsida/w">W</a>.</p>

            <p><b>Läs mer om Introduktion till datorer <a href="{{ .Site.BaseURL }}om">här</a>.</b></p>
            </div>
        </div>
        {{ end }}

        
        <header id="header">
          {{ if .IsPage }}
          {{ if (index .Site.Data.modules .Params.module) }}
          <div id="section-indicator">
            <a href="#top" title="Till toppen av sidan">
              <div class="icon"></div>
              <p class="text">{{ .Title }}</p>
              <div class="clr"></div>
            </a>
          </div>
          {{ end }}
          {{ end }}
          <!-- main menu -->
          <nav id="main-menu">
            <ul class="nav-menu">
                {{ if not .IsHome }}
                <li class="menu-item"><a href="{{ .Site.BaseURL }}">Alla moduler</a></li>
                {{ end }}
                {{ if .IsHome }}
                <li class="menu-item"><a href="{{ .Site.BaseURL }}om">Programsidor</a></li>
                <li class="menu-item"><a href="{{ .Site.BaseURL }}om">Om introduktion till datorer</a></li>
                {{ end }}
                
                <!-- Interlinking module pages -->
                {{ if .IsPage }}
                <li class="menu-item"><a href="#top" title="Till toppen av sidan">Till toppen</a></li>
                  {{ $module := (index .Site.Data.modules .Params.module) }}
                  {{ if and $module (not .Section) }}
                    {{ if not $module.noTasks }}
                      <li class="menu-item"><a href="{{ .Site.BaseURL }}{{ $module.module }}/uppgifter">Uppgifter</a></li>
                    {{ end }}
                  {{ else if and $module (not $module.noTasks) }}
                    <li class="menu-item"><a href="{{.Site.BaseURL}}{{ $module.module}}">Infosida</a></li>
                  {{ end }}
                {{ end }}
                {{ if or .IsHome (eq .Params.menu "handledarinfo") }}
                <li class="menu-item"><a href="{{ .Site.BaseURL }}handledarinfo">För handledare</a></li>
                {{ end }}    
              </ul>
            </nav>
        </header>
        <div class="middle">
          <div class="center">
