@charset "UTF-8";

// Variables
// GENERAL SETTINGS
$text_color: #444;
$background_color: #d6c9b6; // Technically only visible at footer
$middle_color: #f5f5f5; // Backround of middle section of page

$table_color_even: #f8f8f8;
$table_color_odd: #fff;
$table_color_border: #ddd;

$codeblock_bg: #f7f7f7;

// -- Sections
//$default_main: #a95e7a;
//$default_dark: #943759;
$default_main: #ec5f5f;
$default_dark: #d04040;

// -- Footer
$footer_border: #b1a086;
$footer_color: #a9977d;
$footer_shadow: #ecddc1;

// SECTION SETTINGS
// section is list of (name, main_color, dark_color)
$sections:  ("studenttjanster", #ec5f5f, #d04040),
            ("excel", #62a964, #1D9841),
            ("editorer", #8dc63f, #78BF15),
            ("linux", #ea774f, #ed5d46),
            ("terminal",#faa540, #f9833d),
            ("linux-plus", #faa540, #f9833d),
            ("latex", #ab85bd, #a559c9),
            ("matlab", #5b8cbd, #3070b0),
            ("git", #24b0b2, #2b9192),
            ("exempel", #ec5f5f, #d04040),
            ("handledarinfo",#faa540, #f9833d),;

// MIXINS
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

/**
* General elements
*/
html {
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  color: $text_color;
}
body {
  margin: 0;
  padding: 0;
  background-color: $background_color;
}
/**
* Text formatting
*/
h1 {
  font-size: 3em;
  margin-top: 1.5em;
  border-bottom: 1px solid #ddd;
}
h2 {
  font-size: 1.8em;
  margin-top: 1.5em;
  border-bottom: 1px solid #ddd;
}
kbd,
code {
  padding: 2px 4px;
  font-size: 90%;
  color: #fff;
  background-color: $default_dark;
  @include border-radius(3px);
}
pre code,
code.hljs {
  padding: 1em;
  font-size: 100%;
  display: block;
  overflow-x: auto;
  color: inherit;
  background-color: $codeblock_bg;
}
blockquote {
  padding: 0 15px;
  color: #444;
  border-left: 4px solid #ddd;
  margin: 0;
}
hr {
  background: $default_main;
  height: 3px;
  border: none;
}
/* -- Links */
a {
  text-decoration: none;
  color: $default_dark;
}
a.btn {
	padding: 10px 14px;
	font-size: 90%;
	color: #fff;
	background-color: $default_dark;
	@include border-radius(3px);
}
/* -- Tables */
table {
	margin: 2em 0;
	width: auto;
	min-width: 50%;
	//font-size: 14px;
	/*.box-shadow(0 2px 2px darken(@colorBrightGray, 5%));*/
}
table.center {
	margin: 2em auto;
}
table.full {
	width: 100%;
}
table caption {
	padding: 2.5% 0;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 0px 1px #fff;
	color: $default_main;
	//text-align: left;
}
table tr {
	background: $table_color_odd;
	border-top: 1px solid $table_color_border;
	border-right: 1px solid $table_color_border;
	text-align: left;
}
thead tr {
	background: $table_color_even;
	//color: $default_dark;
	font-weight: bold;
	border-bottom: 1px solid $table_color_border;
}
table tbody {
	//font-size: 12px;
}
table tbody tr:nth-child(2n) {
	background: $table_color_even;
}
table td, table th {
	padding: 0.5em;
	border-left: 1px solid $table_color_border;
	vertical-align: middle;
}
table tbody tr:last-child {
	border-bottom: 1px solid $table_color_border;
}

/* -- Figures */
figure {
  margin: 1em 0;
  text-align: center;
}
figure img {
  max-width: 100%;
  height: auto;
  margin: 0;
}
figcaption {
  text-align: center;
	color: $default_main;
	font-style: italic;
	margin-top: 1em;
}
figcaption h4 {
  margin: 0;
  padding: 0;
  line-height: 100%;
}

/* -- Figure modidiers */
@media all and (min-width: 550px) {
    figure.small img {
        width: 75%;
    }
    figure.medium img {
        width: 75%;
    }
}
@media all and (min-width: 740px) {
    figure.small img {
        width: 50%;
    }
}

/* -- Pseudo elements */
::selection {
    color: #fff;
    background: $default_dark;
}

/**
* Specific structures
*/
/* Notifications */
#notifications {
    position: fixed;
    width: 100%;
    z-index: 100;
}
.notification {
    background: #CAF3FF;
    color: #155192;
    padding: 1.5em 5em;
    font-size: 13px;
    border-bottom: 1px solid #155192;
    text-align: center;
    position: relative;
}
.notification .close {
    position: absolute;
    top: 0;
    right: 0;
    background: #155192;
    color: #fff;
    line-height: 20px;
    width: 20px;
    height: 20px;
    border-radius: 3px;
    margin: 0.5em;
    cursor: pointer;
}
.notification.important {
    background: #FFBBBB;
    color: #921515;
    border-color: #921515;
}
.notification.important .close {
    background: #921515;
    color: #fff;
}

/* Logotype */
.uu-logo {
    z-index: 40;
    background-color: #990000;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
}
@media all and (min-width: 1024px) {
    .uu-logo {
        position: absolute;
        top: 0;
        left: 50px;
        background-position: 50%;
        background-size: 80%;
        width: 80px;
        height: 120px;
    }
}
@media all and (max-width: 1023px) {
    .uu-logo {
        background-position: 50%;
        background-size: auto 70%;
        height: 80px;
    }
}

/* Top flag */
.top-flag {
  background-color: $default_dark;
  background-image: url("../images/topflag.jpg");
  background-size: 100%;
  background-attachment: fixed;
}
.top-flag .top-container {
  background: rgba(0, 0, 0, 0.7);
  padding: 100px 0;
  text-align: center;
  color: #ffffff;
}
.top-flag h1 {
  font-size: 5em;
  font-weight: 400;
  padding: 0;
  margin: 0 auto 20px;
  max-width: 90%;
  border: none;
}
.top-flag h2 {
  font-family: 'Roboto';
  font-weight: 100;
  font-size: 3em;
  max-width: 90%;
  padding: 0;
  margin: 0 auto;
  border: none;
}
@media all and (max-width: 740px) {
    .top-flag .top-container {
        padding: 50px 0;
    }
    .top-flag h1 {
        font-size: 3.3em;
     }
    .top-flag h2 {
        font-size: 2em;
    }
}

/* Menu bar */
header {
    box-shadow: 0 3px 0 rgba(0,0,0,0.1);
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    z-index: 30;
}
header nav {
    background-color: $default_main;
}
header nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
header nav ul li {
  display: inline-flex;
}
header nav ul li a:link,
header nav ul li a:visited {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 25px;
  margin: 10px;
  border-radius: 3px;
  -webkit-transition: background-color 150ms linear;
  -moz-transition: background-color 150ms linear;
  -o-transition: background-color 150ms linear;
  -ms-transition: background-color 150ms linear;
  transition: background-color 150ms linear;
}
header nav ul li a:hover,
header nav ul li a:active,
header nav ul li.active a {
  background: $default_dark;
}
/* Module cards */
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: row;
}
.card {
  width: 45%;
  width: 380px;
  margin: 0 1.5% 5% 1.5%;
  float: left;
  position: relative;
  color: #aaa;
}
.card .top {
  height: 40px;
}
.card .logo {
  width: 96px;
  height: 96px;
  background-size: contain;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 20;
  top: 5px;
  margin: auto;
}
.card .content {
  background-color: #ffffff;
  padding: 1em;
  text-align: center;
}
.card h2, .card p {
  margin: 0;
  padding: 0;
  border: none;
}
.card .title {
    margin-top: 3.5em;
}
.card .title h2 {
  font-family: "Roboto";
  font-weight: 100;
  font-size: 35px;
  line-height: 40px;
  text-transform: uppercase;
}
@media all and (max-width: 740px) {
    .card .title h2 {
        font-size: 30px;
    }
}
.card .tagline p {
  font-family: "Roboto";
  font-weight: 100;
  font-style: italic;
}
.card .buttons {
  margin: 1em 0 0 0;
  line-height: 2.8em;
}
.card a.btn {
    font-size: 1.1em;
    font-weight: 100;
}

/* Content */
.middle{
  padding: 2em 0;
  background: $middle_color;
}
.center {
  margin: 0 auto;
  max-width: 960px;
}
#content {
  padding: 2em 3em;
  background-color: #ffffff;
  box-shadow: 0 3px 0 rgba(0,0,0,0.1);
  word-wrap: break-word;
}
@media all and (min-width: 1024px) {
    #content {
        margin: 4em 0 0 0;
    }
}
/* -- Heading */
.heading {
  border-bottom: 4px solid $default_main;
  padding: 0;
}
.heading h1 {
  border: none;
  margin: 0;
  padding: 0;
  color: $default_dark;
  font-weight: 100;
  float: left;
}
.heading .section-icon {
  float: right;
  width: 4em;
  height: 4em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
}

@media all and (max-width: 540px) {
    .heading h1 {
        font-size: 2em;
    }
    .heading .section-icon {
        width: 3em;
        height: 3em;
    }
}
/* Footer */
footer {
  min-height: 4em;
  border-top: 5px solid $footer_border;
  margin: 0;
}
footer small {
  text-align: center;
  display: block;
  padding: 2em 0;
  color: $footer_color;
  text-shadow: 0 1px $footer_shadow;
}
/**
* Subsection-specific styles
*/
@each $section in $sections {
  $selector: nth($section, 1);
  /* ------------------------------------- */
  /** #{to_upper_case($selector)} **/
  
  /* -- Section card */
  .card.#{$selector} .logo {
      background-image: url("../images/icons/#{$selector}.png");
  }
  .card.#{$selector} h2 {
    color: nth($section, 3);
  }
  .card.#{$selector} a.btn:link,
  .card.#{$selector} a.btn:visited,  {
    background-color: nth($section, 3);
  }
  .card.#{$selector} a.btn:hover,
  .card.#{$selector} a.btn:active,  {
    background-color: nth($section, 2);
  }
  /* -- Text formatting */
  .#{$selector} kbd,
  .#{$selector} code {
    background-color: nth($section, 3);
  }
  .#{$selector} pre code {
    background-color: $codeblock_bg;
  }
  .#{$selector} hr {
    background: nth($section, 2);
  }
  /* -- Links */
  .#{$selector} #content a:link,
  .#{$selector} #content a:visited,  {
    color: nth($section, 3);
  }
  .#{$selector} #content a:hover,
  .#{$selector} #content a:active,  {
    color: nth($section, 2);
  }
  .#{$selector} a.btn:link,
  .#{$selector} a.btn:visited,  {
    background-color: nth($section, 3);
  }
  .#{$selector} a.btn:hover,
  .#{$selector} a.btn:active,  {
    background-color: nth($section, 2);
  }
  /* -- Figures */
  .#{$selector} figcaption {
    color: nth($section, 3);
  }  
  /* -- Pseudo elements */
  .#{$selector} ::selection {
      background: nth($section,3);
  }
  /* -- Heading */
  .#{$selector} header nav {
    background-color: nth($section, 2);
  }
  .#{$selector} header nav ul li a:hover,
  .#{$selector} header nav ul li a:active,
  .#{$selector} header nav ul li.active a {
    background: nth($section, 3);
  }
  /* -- Elements */
  .#{$selector} .heading {
    border-bottom-color: nth($section, 2);
  }
  .#{$selector} .heading h1 {
    color: nth($section, 3);
  }
  .#{$selector} .heading .section-icon {
    background-image: url("../images/icons/#{$selector}.png");
  }
}
/**
* Fixes
*/
.clr {
  float: none;
  clear: both;
  height: 0;
}
